.slider_box{
	width: 800px;
	height: 600px;
	margin: 50px auto;
	overflow: hidden;
	position: relative;
}
.mask{
	height:100px;
	overflow:hidden;
	background:#000;
	opacity:0.7;
	filter:alpha(opacity:70);
	width:100%;
	position:absolute;
	left:0;
	bottom:0;
	z-index:1;
	border-top:solid 2px #ddd;
}
.silder_con{
	overflow:hidden;
	position:absolute;
}
.silder_panel{
	width:800px;
	height:400px;
	overflow:hidden; 
	float:left;
	position:relative;
}
.silder_panel img{
	width:880px;
	height:500px;
	display:block;
	overflow:hidden;
	overflow:hidden;
}
.silder_nav li{
	float:left;
	padding:0px;
	border:1px solid #fff;
	margin:2px;
	display:inline;
	position:relative;
}
.silder_nav li.current{
	border:3px solid #7acf39;
	margin:0 4px;
}
.silder_nav li,.silder_nav img{
	display:block;
	width:100px;
	height:48px;
	overflow:hidden;
}
.slider_box a.prev,.slider_box a.next{
	display:block;
	width:45px;
	height:100px;
	line-height:999em;
	overflow:hidden;
	z-index:9;
	position:absolute;
	cursor:pointer;
	margin:85px 0 0 0;
	background:url(images/silder_btn.gif) no-repeat;
}
.slider_box a.prev{
	left:0;
	background-position:left 0;
}
.slider_box a.next{
	right:0;
	background-position:right 0;
} 
.silder_intro{
	position:absolute;
	left:30;bottom:0;
	z-index:9;
	width:400px;
	height:100px;
	overflow:hidden;
	color:#fff;
	padding-left:20px;
}
.silder_intro h3{
	font-size:20px;
	font-weight:bold;
	margin:10px 0 5px 0;
	height:22px;
	line-height:22px;
}
.silder_intro p{
	font-size:12px;
	line-height:20px;
}
.dec{
	float:right;
	height:100px;
	bottom:-10px;
	right:10px;
	overflow:hidden;
	z-index:9;
	position:absolute;
}
.dec li{
	margin-top:20px;
	float:left;
	display:inline;
}
/*.content1{
	width: 1280px;
	height: 400px;
	margin: 0 auto;
/*}*/
